// SPDX-FileCopyrightText: 2026 UnionTech Software Technology Co., Ltd.
//
// SPDX-License-Identifier: GPL-3.0-or-later

#pragma once

#include "containment.h"
#include "dsglobal.h"

DS_USE_NAMESPACE

class {{CLASS_NAME}} : public DContainment
{
    Q_OBJECT
public:
    explicit {{CLASS_NAME}}(QObject *parent = nullptr);
    virtual bool load() override;
    virtual bool init() override;
};
