{
    "magic": "dsg.config.meta",
    "version": "1.0",
    "contents": {
        "exampleSetting": {
            "value": "defaultValue",
            "serial": 0,
            "flags": [],
            "name": "Example setting description",
            "name[zh_CN]": "示例设置描述",
            "permissions": "readwrite",
            "visibility": "public"
        }
    }
}
